body{

	
}

#welcome{

	height: 400px;
	width: 300px;
	border: 3px;
	border-style: solid;
	border-color: black;
	background-image: url("http://clipart-library.com/images/di45GpqKT.jpg");
	background-position: center;
	background-size: 200px 150px;
	background-repeat: no-repeat;
	background-color: lightblue;
}

h1.title1 {
	
	font-size: 20px;
}

		